-gallery_images = ["club-sandwich.jpg", "papas.jpg", "hamburger.jpg", "club-sandwich.jpg", "panini.jpg", "papas.jpg"]
!!!5
%html{class:"no-js", lang:"es"}
	%head
		%meta{charset:"utf-8"}
		%title Frontend Web
		%meta{name:"description", content:"Descripción de esta Página Web realizada con Haml y Sass"}
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
		%meta{:"data-name" => "image-counter", content:"#{gallery_images.size - 1}"}

		%link{rel:"stylesheet", href:"https://fonts.googleapis.com/css?family=Dancing+Script"}
		
		%link{rel:"stylesheet", href:"css/normalize.css"}
		%link{rel:"stylesheet", href:"css/bootstrap.css"}
		%link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"}
		%link{rel:"stylesheet", href:"css/style.css"}

		%script{src:"js/vendor/modernizr-2.8.3.min.js"}
	%body
		="<!--[if lte IE 9]>"
		%p{class:"browserupgrade"}
			Estas usando un navegador
			%strong desactualizado.
			Por favor
			%a{href:"http://browsehappy.com/"}
			actualiza tu navegador
			para una mejor experiencia
		="<![endif]-->"

		.video-container
			%video{autoplay: true, loop: true, width:"12800", height:"720", poster:"videos/images/Inbox-Zero.jpg"}
				%source{src:"videos/mp4/Inbox-Zero.mp4", typ:"video/mp4"}
				%source{src:"videos/webm/Inbox-Zero.webm", typ:"video/webm"}

		.row.full-height.middle-xs.center-xs.relative.up#home
			.col-xs-12
				.box.white-text
					%img{src:"imgs/logo.png", width:200}
					%h1.dancing-script.title.no-margin Bienvenidos Angel 2017
					%p#is-open
						%i.glyphicon.glyphicon-time 
						Abierto ahora

			%nav.fixed.top.right.navigation.white-text#navigation
				
				="<!-- Una manera de mostrar el Menu>"
				-menu = ["Inicio", "Menú", "Galería", "Contacto", "¿Cómo llegar?"]
				%ul.list-inline
					-menu.each do |item|
						="<!%li= item-->"
				
				= "<!-- Segunda manera de mostrar el Menu>"
				%ul.list-inline
					%li Inicio
					%li Menú
					%li Galería
					%li Contacto
					="<!%li ¿Cómo llegar?-->"

				-menu = ["Inicio", "Menú", "Galería", "Contacto", "¿Cómo llegar?"]
				%ul.list-inline
					-menu.each do |item|
						%li
							%a{}= item
			.absolute.black.large-padding.white-text.full-width#description
				.row.middle-xs.center-xs
					.col-xs-7.col-sm-6.white-text.medium
						%p Saludos a los que visitan esta Página Web realizada por Ángeel Rdz
					.col-xs.hidden#sticky-navigation
						.box
							%nav.text-right.navigation
								%ul.list-inline
									-menu.each do |item|
										%li
											%a{}= item
		.text-center.relative#menu
			.absolute.white#menu-title
				%h2.dancing-script.title Menú
			-menu_photos = [{name: "Club Sandwich", pricing: "10.00", image:"club-sandwich"}, {name: "Combo Hamburguesa", pricing: "50.00", image:"combo"}, {name: "Hamburguesa", pricing: "20.00", image:"hamburger"}, {name: "Hot Cakes", pricing: "30.00", image:"hot-cakes"}, {name: "Panini", pricing: "15.00", image:"panini"}, {name: "Papas", pricing: "10.00", image:"papas"}, {name: "Crepas", pricing: "40.00", image:"club-sandwich"}, {name: "Nieves", pricing: "15.00", image:"panini"}]

			.row
				-menu_photos.each do |photo|
					.col-md-4.col.lg-3.col-sm-6.col-xs-12.food{style:"background-image:url(imgs/food/#{photo[:image]}-thumb.jpg"}
						.screen
							.row.middle-xs.full-height
								.col-xs-12.white-text
									%h3.dancing-script.subtitle= photo[:name]
									%p.no-margin= photo[:pricing] + " USD"

		#gallery
			.inner
				-gallery_images.each do |image|
					.image{style:"background-image:url(imgs/food/#{image});"}

		.container
			.card.white.black-text.text-center.relative
				%h3.medium.slim
					En esta página muestra un demo utilizando
					%strong.dancing-script.medium HAML, SASS y Javascript
				%p.top-space
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi dignissimos dolores quia laborum commodi quibusdam facere odio? Praesentium error, quasi at, eos voluptate provident placeat maiores eius, asperiores autem fugit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi dignissimos dolores quia laborum commodi quibusdam facere odio? Praesentium error, quasi at, eos voluptate provident placeat maiores eius, asperiores autem fugit. - 
					%strong.dancing-script.medium by Ángeel Rdz

		.black.white-text.full-height#contact
			.row.middle-xs.full-height
				.col-xs-12
					.box
						%form{action:"https://formspree.io/rodriguez_1409@hotmail.com", method:"POST", id:"contact-form", class:"step-form"}
							.row.center-xs
								.col-xs-2.col-md-1
									.box
								.col-md-5
									.box
										%fieldset.step
											%input{type:"email", name:"email", placeholder:"Coloca tu correo electrónico", class:"input"}
										%fieldset.step
											%input{type:"text", name:"name", placeholder:"Coloca tu nombre", class:"input"}
										%fieldset.step
											%textarea{name:"body", placeholder:"Escribe aquí tu mensaje...", class:"input"}
											%div
												%button{type:"submit", class:"btn"}Enviar

		%script{src:"http://code.jquery.com/jquery-3.2.1.min.js", integrity:"sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin:"anonymous"}
		
		%script
			window.jQuery || document.write("<script src='js/vendor/jquery-1.12.0.min.js'><\/script>")

		%script{src:"js/form_object.js"}
		%script{src:"js/main.js"}
		%script{src:"js/steps.js"}